*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.idea
out
gen### Java template
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.apk
*.dex
bin/
gen/
out/
build/
proguard/
.navigation/
captures/
.idea/tasks.xml
.idea/dictionaries
*.jks
google-services.json
freeline.py
freeline/
freeline_project_description.json
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.slo
*.mod
*.smod
*.lai
gen
